# Day 3 :  Astropy basics üöÄ

## Asteroid Hunter Training üõ∞Ô∏è
### Today we'll look at actual NASA data to classify asteroids!

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

<a id='overview'></a>
# Overview

This notebook explores the [asteroid dataset](https://www.kaggle.com/datasets/sakhawat18/asteroid-dataset).

My approach here is very rudimentary. My primary focus is ***not*** with data science per se; rather, I am simply using this dataset as venue for learning about asteroids.  For example, instead of using the matchine learning tools to make predictions based on the dataset, I am simply slicing-and-dicing the dataset, and then using the various internet resources for understanding the trends being seen.

Several websites were aided me greatly in this endeavor
* [JPL Small-Body Database Search Engine](https://ssd.jpl.nasa.gov/tools/sbdb_query.html)
* [CNEOS - Center for Near-Earth-Object Studies](https://cneos.jpl.nasa.gov/)
* [Windows to the Universe](https://www.windows2universe.org/our_solar_system/planets_orbits_table.html)
* [The Planetary Mechanics Blob](http://planetary-mechanics.com/)

Table of Contents:
* [Overview](#overview)
* [Setup and Useful Tools](#setup)
* [Asteroid Classes](#classes)
    - [Introduction](#classes_introduction)
    - [Distribution Throughout the Solar System](#classes_distribution)
    - [Milankovitch Cycles](#classes_milankovitch)
    - [Mars Crossing Asteroids (MCA)](#classes_mca)
* [Kirkwood Gaps](#kirkwood)
    - [Overview](#kirkwood_overview)
    - [Inner vs Inner; Outer vs Outer](#kirkwood_inner_vs_inner)
* [Inclination from the Ecliptic](#inclination)
    - [Overview](#inclination_overview)
    - [Inner Main Belt Asteroids - the Hungaria](#inclination_hungaria)
    - [Mars Crossing Asteroids](#inclination_mca)

In [ ]:
df= pd.read_csv('asteroid_dataset.csv',low_memory=False)

In [ ]:
df.info()

# Basic Terminology 

When describing an ellipse 
* $a$ is the semi-major axis
* $b$ is the semi-minor axis
* $e = \sqrt{1-b^2/a^2}$ is the eccenticity of the ellipse
* the eccentricity of a circle is 0; that of an ellipse is between 0 and 1 
* $F_1$ and $F_2$ are the foci of the ellipse, located at $\pm ea$

With the simple two-body astronomical description of an orbit about the sun
* orbits are typically bounded (elliptical) or unbounded (hyperbolic)
* with elipitical orbits, the sun is located at one of the foci
* an elliptical orbit's *perihelion* $= a*(1-e)$ is its point of closest approach to the sun
* an elliptical orbit's *aphelion* $= a*(1+e)$ is its furthest point from the sun
* an elliptical orbit's period (in years) is related to its semi-major axis (in AU) as $p^2 = a^3$ (Kepler's Third Law)

*Note that the concept of eccentricity also applies to parabolas ($e = 1$) and hyperbolas ($e > 1$).*

In [ ]:
df.describe()

In [ ]:
df.describe.T

In [ ]:
df.columns

In [ ]:
df.head()

<a id='classes'></a>
# Asteroid Classes

<a id='classes_introduction'></a>
## Introduction
One of the attributes of the asteroids in this dataset is an orbit *class* that appears to be quite interesting. The class is a three-character code which for me, at least, was a bit opaque. However, the [JPL Small-Body Database Search Engine](https://ssd.jpl.nasa.gov/tools/sbdb_query.html) provided a mechanism for converting the class code into an actual name for the orbit class, which could then be used for looking up a description in Wikipedia.  

The following table provides a summary of the orbit class, ordered by the distance of said class from the sun:

| Class | Name | Description |
| --- | --- | --- |
| IEO | [Arita](https://en.wikipedia.org/wiki/Atira_asteroid) | Resids wholly within the Earth's Orbit |
| ATE | [Aten](https://en.wikipedia.org/wiki/Aten_asteroid) | Earth-crossing Asteroids, residing mostly within Earth's orbit|
| APO | [Apollo](https://en.wikipedia.org/wiki/Apollo_asteroid) | Earth-Crossing Asteroids, residing mostly outside of Earth's Orbit |
| AMO | [Amor](https://en.wikipedia.org/wiki/Amor_asteroid) | Near-Earth asteroid residing entirely outside of Earth's orbit |
| MCA | [Mars Crossing Asteroid](https://en.wikipedia.org/wiki/List_of_Mars-crossing_minor_planets) | |
| IMB | [Inner Main-belt Asteroid](https://en.wikipedia.org/wiki/Asteroid_belt) | see section on Kirkwood Gap |
| MBA | [Main-belt Asteroid](https://en.wikipedia.org/wiki/Asteroid_belt) | see section on Kirkwood Gap |
| OMB | [Outer Main-belt Asteroid](https://en.wikipedia.org/wiki/Asteroid_belt) | see section on Kirkwood Gap |
| AST | Asteroid (other ) | |
| TJN | [Jupiter Trojan](https://en.wikipedia.org/wiki/Jupiter_trojan) | Share Jupiter's orbit; reside at the L4 or L5 Lagrange Points |
| CEN | [Centaur](https://en.wikipedia.org/wiki/Centaur_(small_Solar_System_body)) | A small solar system body between Jupiter and Neptune |
| TNO | [TransNeptunian Object](https://en.wikipedia.org/wiki/Trans-Neptunian_object) | Any minor planet that orbits at a greater average distance than Neptune |
| HYA | Hyberbolic Asteroid | |

The breakdown of the asteroids in the dataset by orbit class is as follows:

In [ ]:
df.tail

In [ ]:
df.shape

In [ ]:
nrows, ncol = df.shape 
print("no of rows:"+str(nrows))
print("no of columns"+str(ncol))

In [ ]:
df.isnull().sum()

In [ ]:
#diameter analysis

In [ ]:
df['diameter'].hist( figsize = (5,5))

In [ ]:
df['diameter'].describe()

## PRACTICE CODES

In [ ]:


from astropy.io import fits
import matplotlib.pyplot as plt
from astropy.visualization import simple_norm

In [ ]:
# ## 1. Load a Space Image
image_data = fits.getdata('asteroid.fits')  # Sample image
print("Image shape:", image_data.shape)

In [ ]:
# ## 2. Show the Asteroid
plt.imshow(image_data, cmap='gray')
plt.colorbar(label='Brightness')
plt.title("Asteroid Image")
plt.show()

In [ ]:
# ## 3. Make it Brighter
norm = simple_norm(image_data, 'sqrt')
plt.imshow(image_data, norm=norm, cmap='gray')
plt.title("Enhanced View")
plt.show()

In [ ]:
# ## 4. Asteroid Sizes
sizes = {'Ceres': 939, 'Vesta': 525, 'Pallas': 512}
plt.bar(sizes.keys(), sizes.values(), color='orange')
plt.title("Biggest Asteroids (km)")
plt.show()